Perfect way to get sharks for iron men, along with a good money maker for low levels. The only requirement is a decent amount of money along with 100% piscarilius favor in Kourend.
===============================
I always encourage you keep up with what I am doing
Would love if you guys leave a follow on my twitch
As Always I hope you guys have a wonderful day!
If there is anything you think I could improve upon make sure to let me know about it down in a comment
And as always keep up to date by subscribing to my channel
Outro song : Sleepyhead - Passionpit
<section