This money making method is insane, and I have no real clue why runes are dropping so much.. If any of you have an idea make sure to let me know! Nonetheless, the money you can make selling runes is insane and I would recommend it highly!! 1.5M in 10 mins? 9M/HR... Insane stuff..
===============================
I always encourage you keep up with what I am doing
Would love if you guys leave a follow on my twitch
As Always I hope you guys have a wonderful day!
If there is anything you think I could improve upon make sure to let me know about it down in a comment
And as always keep up to date by subscribing to my channel
Outro song : Sleepyhead - Passionpit
<section