Hey guys, today I am going to show you an easy way to make 1100k/hr with low requirements.
The price of death runes have been at an all time high for a little while now. This will allow us to buy runes from shops around runescape, and sell the, back to the GE for profit. The three shops we are going to be buying from are:
- Wilderness Mage Shop
- Wizard Guild Shop
- Alibaba' s Rune Shop
I am going to test out ten minutes at each location and see which one will be the most profitable.
- Abyss miniquest
- 66 Magic
- Lunar Diplomacy
Thanks for watching guys, Enjoy!
Buy Runescape Membership
"FlippingOSRS"
<section