Hey guys, and welcome to another money making guide. Today I am going to be showing you a method that can be done at a very low level, as well as with a low amount of starting cash.
Today we are going to be creating flighted ogre arrows! Here are the requirements
- 50-100k starting cash
- Completed Ogre Flesh Eaters
- Completed Big Chompy Bird Hunting
I like this money maker because it is great for starting a cash stack. The drawback is that there is a 13k buying limit on feathers, as well as the flighted arrows usually take a few hours to sell
Thanks for watching guys, Enjoy!
"FlippingOSRS"
<section