Hey guys, and welcome to another oldschool runescape money making guide.
First off today I am going to be giving away another one month subscription to GE tracker.
www.ge-tracker.com
All you have to do to enter the draw is:
- Comment with your GE tracker username
- Like the Video
That is all, a name will randomly be selected from the comments section and upgraded to a premium account for 1 month.
This money making method requires nothing to start, only some starting cash. While I started with 10m, you could easily start with less.
This money making method is very well known, yet is surprisingly profitable for how easy it is. I am going to be showing you the benefits and drawbacks of tanning the different dragon hides as well as which I would recommend.
Thanks for watching guys, Enjoy!
<section