Hey guys, and welcome to a brand new money making video.
Today I am going to be showing you another really easy way to make money in runescape that does not have any skill requirements. What we are going to be doing today is combining individual barrows equipments into barrows sets. The item I picked today is the ahrims set, but you can really use any of them. Here is the website I was using to generate the margin
I hope you guys enjoyed the video, if you are new please hit that subscribe button to stay up to date with my new videos.
Tracking Tool
www.ge-tracker.com
"FlippingOSRS"
<section