Hey Guys, and welcome to another money making guide.
Today I am going to be showing you an easy way to make over 1.2m/hr with pretty low requirements. All you need is a bit of starting cash, and 55 herblore. What I am going to be doing is creating unfinished potions to sell back on the grand exchange. This money making method works very well as people are always looking to buy these unfinished potions to level up their herblore level.
here is a list of the level requirements required for the different types of herbs.
I hope you guys enjoyed the video, if you are new please hit that subscribe button to stay up to date with my new videos.
"FlippingOSRS"
<section