Making crystal keys from tooth halves and loop halves and making bank! Made 400k+ in 20 mins!
DO NEED 10 CONSTRUCTION
I made an old video on this before (with less profit):
Thanks for watching, if you enjoyed check out my channel!
<section