Hey Guys, Merry Christmas :) Welcome to another money making guide.
Today I am going to be showing you how to do the gnome restaurant minigame. When done correctly you can earn around 1m/hr with fairly low requirements.
- 42 cooking
- 10 construction
- Tree gnome village
- Gnome stronghold
- Fishing contest
- 66 magic
The item you care trying to obtain from this method is the gnome scarf. It is obtainable as about a 1/20 reward from 2 of the delivery targets.
- Captain Ninto
- Captain Daerkin
For information on where the gnomes are, and how to make the food/drink items; consult the wiki.
Thanks for watching guys, Enjoy!
"FlippingOSRS"
<section