Hey guys, and welcome to another money making method.
Today I am going to show you how I made 1.4M in 1 hour of doing this method. Today's method does have a few higher requirements
- Lunar Diplomacy
- 5M Cash
This money making method is extremely easy to do. All you have to do is buy out some of the supplies from baba yagas magic shop. I would recommend buying out the battlestaffs, death runes, astral runes and nature runes.
I hope you enjoyed the video, good luck!
Buy Runescape Membership
"FlippingOSRS"
<section