Hey Guys, and welcome to a brand new video. Today I am back with another money making method. This method has no skill requirents and only requires a small ammount of starting cash. The items can take a while to buy, but once you have them I made about 1.1m in 50 minutes.
I hope you guys enjoyed the video, if you are new please hit that subscribe button to stay up to date with my new videos.
"FlippingOSRS"
<section