Buying uncut Jades/Opals, then cutting an selling them for profit! VERY AFK. Thanks for watching, hope you enjoy!
Prices vary, so figure out which of the two are selling easier, and which one makes more profit.
<section