Never thought this money making method would've been that good, I was honestly just hoping to make enough money to cover the cost, but I ended up making a ton!
Also if you think this isn't one of the best money making methods let me explain.
While I only made 1.3m in 45mins (only being used is a joke btw) I lost about 350k by insta selling my iron ore/rune bars/dragonstones. So if you just wait (which is what I would've done had I not needed to finish the video quick), I would've made 1.65m in 45mins = 2.2m (ish) an hour... so gooooood..
===============================
I always encourage you keep up with what I am doing
Would love if you guys leave a follow on my twitch
As Always I hope you guys have a wonderful day!
If there is anything you think I could improve upon make sure to let me know about it down in a comment
And as always keep up to date by subscribing to my channel
<section